# ==========================================
# G-DRIVE AUTOMATION LOGBOOK CONFIGURATION
# ==========================================

# ID File DOCX target di Google Drive (Dapat diambil dari URL Google Drive file: https://drive.google.com/file/d/FILE_ID/view)
GOOGLE_DRIVE_FILE_ID=""

# Client Email Google Service Account
GOOGLE_CLIENT_EMAIL=""

# Private Key Google Service Account (Gunakan kutip dua dan pastikan format newline \n jika di Vercel)
GOOGLE_PRIVATE_KEY=""

# Optional Secret Token untuk validasi endpoint
API_SECRET_TOKEN=""
